body{
    background-image:url("https://images.pexels.com/photos/432901/pexels-photo-432901.jpeg?cs=srgb&dl=clouds-cloudscape-daylight-432901.jpg&fm=jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    color: white;
}